#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.filter-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid black;
  padding: 0 8px;
}

.filter-container *{
  margin-bottom: 12px;
}

#filter-buttons-wrapper{
  text-align: end;
}

#button-wrapper{
  text-align: start;
}

.new-product-form *{
  margin-bottom: 12px;
}

.input-number{
  width: 100%;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

